<!-- <!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="CSS/registre.css" />
  </head>

  <body>
    <div class="containeracceuil">
      <img src="IMAGES/logo-Emmy.png" class="logo" />
      <div class="contentaccueuil">
        <h1>
          De beaux endroits<br />
          à découvrir
        </h1>
        <p>
          Prêt à voyager avec Voyage Vibes ? Saisissez votre nom d'utilisateur
          et votre mot passe pour entrer à votre compte ou click sur le bouton
          s'inscrire pour créer votre compte.
        </p>
        <div class="formBlock">
          <form id="connexion-form">
            <input
              type="text"
              id="login-username"
              placeholder="Pseudo"
            />
            <input
              type="password"
              id="login-password"
              placeholder="Mot de passe"
            />
            <button type="submit" class="btn">Connecter</button>
          </form>
        </div>
        <form id="inscription-form" class="formulaireInscrp">
          <span id="close">X</span>
          <div class="form">
            <h1>Inscrivez-vous.</h1>
            <div class="grupo">
              <input
                type="text"
                id="signup-username"
                required
                placeholder="Pseudo "
              <!-- />
              <!-- <label for="">Nom </label> -->
            <!-- </div>

            <div class="grupo">
              <input type="email" id="email" required placeholder="Email" />
              <!-- <label for="">Nom d'utilisateur</label> -->
            </div>

            <div class="grupo">
              <input
                type="password"
                id="signup-password"
                required
                placeholder="Mots de passe"
              />
              <!-- <label for="">Mots de passe</label> -->
            </div>
            <button class="btn" type="submit">S'inscrire</button>
          </div>
        </form>

        <button type="submit" id="btnFormulaireInscription" class="btn">
          S'inscrire
        </button>
      </div>
      <!-- conteneur msn error -->
      <div id="message-box" class="message hidden"></div>
    </div>
    <!-- SECTION REPRODUCTION VIDEO -->

    <section id="section-video">
      <div class="titre">
        <h3>
          Découvrez des destinations inoubliables à travers notre site de
          voyages ! des récits d'aventures et des photos époustouflantes pour
          inspirer votre prochaine escapade. Explorez le monde avec nous, un
          voyage à la fois !
        </h3>
      </div>
      <video muted autoplay loop>
        <source src="../VIDEOS/video-portada.mp4" />
      </video>
      <div class="capa"></div>
    </section>

    <script src="JS/registre.js" defer></script>

    <!-- FOOTER -->
  </body>
</html> --> --> -->
